@import "tailwindcss";
/*@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Coda:wght@400;800&family=Edu+NSW+ACT+Hand+Pre&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&display=swap');*/



@theme {
    --color-body-bg: #999;
    --color-main-bg: #fff;
    --color-nav-bg: #fff;
    --color-nav-text: #fff;
    --color-nav-button: #FFC1DA;
    --color-nav-hoveredText: #FF90BB;
    /*--color-blue-button: #007bff;*/
    --color-blue-button: #007bff;
    --color-lightBlue: #71a9f3;
    --color-lightBlue2: #aac4f3;
    --color-red-button: #dc3545;
    --color-lightRed: #e48994;
    --color-create-bg: #fcdffd;
    --color-create-bgForm: #007bff;
    --color-create-bgFormItem: #fcdffd;
    --color-create-bgFormText: #007bff;


}

html, body {
    /*@apply bg-main-bg;*/
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

.main {
    @apply flex flex-col justify-center items-center gap-7 w-full z-10;

    .header {
        @apply w-full z-10  ;
        overflow: hidden;
        background-image:  url("/images/mainImage.jpg") ;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;

        .headerGradient {
            @apply w-full h-full  z-20;
            background: linear-gradient(90deg, rgba(255,255,255,1), rgba(255,255,255,0.2) );
            background-size: cover;
        }

        .headerText {
            @apply z-30;
        }
    }

    .main__filters--type {
        @apply  border-1 border-lightBlue outline-none h-[2rem] pl-2 w-full rounded-[4px];


        &:focus {
            @apply border-4 border-lightBlue2;
        }
    }

    .main__filters--age {
        @apply flex flex-col justify-start gap-5 sm:gap-0 border-1 border-lightBlue rounded-[4px] w-3/4 pt-3 pb-3;

        .main__filters--ageItem {
            @apply flex flex-col sm:flex-row justify-around  sm:justify-start w-full sm:gap-5  pl-5;
        }

        &:focus {
            @apply border-4 border-lightBlue2;
        }
    }

    .petCardWrapper {
       @apply  w-full h-[50vh] md:h-[40vh] md:w-1/2 lg:w-1/3 xl:w-1/4 overflow-hidden gap-5;

        .petCard {
            @apply flex flex-col h-[90%] m-4 justify-between items-center gap-1  overflow-hidden duration-200 ease-in-out ;
            box-shadow: 5px 5px 10px rgba(113,169,243,0.7);
            /*transform-style: preserve-3d;*/
            &:hover {
                box-shadow: 10px 10px 20px rgba(113,169,243,0.9);
                /*transform:  rotate3d(1,1,1,10deg);*/
            }
        }
    }

    .createPetCardWrapper {
        @apply flex flex-col justify-center items-center h-[100vh] w-full gap-8 mt-20 bg-create-bg;

        .createPetCard {
            @apply flex flex-col justify-around items-center  w-2/3 h-[100vh] mt-20;

            .createPetCard__imageSection {
                @apply flex flex-col justify-center items-center h-[60vh] w-full overflow-hidden gap-5 ;

                img {
                    @apply max-w-full overflow-hidden rounded-[8px];
                }

                input {
                    @apply bg-create-bgForm rounded-[8px] p-3 cursor-pointer text-white w-[70%] lg:w-[30%];
                    &:hover {
                        box-shadow: 7px 7px 10px rgba(69,69,165,0.7);
                    }
                }
            }

            .createPetCard__headerSection{
                @apply flex flex-col justify-center items-center text-3xl font-bold text-create-bgForm text-center;
            }

            .createPetCard__formSection {
                @apply flex flex-col items-center w-full  rounded-[8px] pt-10 bg-create-bgForm mb-20;

                .createPetCard__formSection--stringInfo {
                    @apply flex flex-col gap-3 text-blue-button  items-center w-full;
                    input, textarea {
                        @apply w-[70%]  lg:w-[50%]  rounded-[8px] p-3 cursor-pointer text-blue-button outline-none bg-create-bgFormItem;
                        &:hover {
                            box-shadow: 7px 7px 10px rgba(69,69,165,0.7);
                        }
                    }
                    select {
                        @apply w-[70%]  lg:w-[50%]  rounded-[5px] outline-none bg-create-bgFormItem  text-create-bgFormText p-2 ;
                        &:hover {
                            box-shadow: 7px 7px 10px rgba(69,69,165,0.7);
                        }
                    }

                    textarea {
                        @apply min-h-40;
                    }
                }

                .createPetCard__formSection--age {
                    @apply flex flex-col gap-3 items-start text-create-bgForm  items-center  bg-create-bgFormItem rounded-[8px] w-[70%]  lg:w-[50%] mt-3;
                    .createPetCard__formSection--age--item {
                        @apply flex gap-3 ml-20 text-create-bgForm;
                        input, label {
                            @apply text-create-bgFormText;
                        }
                    }
                }

                .createPetCard__formSection--submit {
                    @apply  bg-create-bgFormItem text-create-bgFormText text-[1.5rem] rounded-[8px] mt-10 mb-10 h-10 w-[70%]  lg:w-[50%] cursor-pointer border-2 border-b-create-bgFormText;
                    &:hover{
                        box-shadow: 7px 7px 10px rgba(69,69,165,0.7);
                    }
                }

            }
        }
    }

    .information {
        h1 {
            @apply text-4xl;
            &:not(:first-child) {
                @apply mt-5 mb-5;
            }
        }
        p {
            @apply text-[1.5] mt-5;
            span {
                @apply font-bold;
            }

        }
    }
}

.main__scrolled {
    @apply mt-[210px] lg:mt-[70px];
}

.pet__modal  {
    background: rgba(0,0,0,0.9);

    .pet__modal--content {
        @apply flex flex-col w-2/3 h-[100vh] justify-around items-center text-white;

        .pet__modal--content--image {
            @apply flex justify-center w-full h-[60vh];
            img {
                @apply max-h-full max-w-[300%] w-auto ;
            }
        }

        .pet__modal--content--text {
            @apply flex flex-col items-center gap-5 text-2xl;
        }
    }
}

.navbar {
    @apply   relative flex justify-between w-full  pl-30  p-5 bg-nav-bg text-black   shadow-black z-20;
    box-shadow:10px 10px 10px  rgba(0, 0, 0, 0.2);

    .navbar__menu {
        @apply  justify-around items-center w-1/2 hidden text-[1.2rem] lg:flex;
    }

    .navbar__buttons {
        @apply flex flex-col lg:flex-row justify-end items-center  w-1/2 gap-5
    }

    .navbar__menu--mobile {
        @apply flex flex-col h-full justify-between  lg:hidden text-[1.2rem];

        .nav__menu--mobile--button {
            @apply relative;
            .nav__menu--mobile--button--content {
                @apply  flex-col justify-around  absolute  hidden gap-3 top-15;
            }
        }
    }
}

.navbar__scrolled {
    @apply fixed top-0 opacity-90;
}


.redButton {
    @apply rounded-full border-2 bg-red-button border-red-button p-3 text-white duration-150 ease-linear cursor-pointer;
    &:hover {
        @apply bg-nav-bg text-red-button ;
    }
}

.blueButton {
    @apply rounded-full border-2 bg-blue-button border-blue-button p-3 text-white duration-150 ease-linear cursor-pointer;
    &:hover {
        @apply bg-nav-bg text-blue-button ;
    }
}
.logOutButton {
    @apply rounded-full border-2 bg-nav-bg border-red-button p-3 text-red-button duration-150 ease-linear cursor-pointer;
    &:hover {
        @apply  bg-red-button  text-white ;
    }
}

